<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="box">
      <div class="row">
        <div class="col-xs">
          <div class="box">
            <form [formGroup]="packageForm" (ngSubmit)="onFilter()">
              <input
                formControlName="trackingNumber"
                type="text"
                status="basic"
                nbInput
                placeholder="Tracking Number"
              />
              <button type="submit" nbButton status="primary">
                <nb-icon icon="search"></nb-icon>
              </button>
              <button
                class="btn-reset"
                *ngIf="isFiltered"
                type="button"
                nbButton
                status="warning"
                (click)="resetForm()"
              >
                <nb-icon icon="refresh"></nb-icon>
              </button>
            </form>
          </div>
        </div>
      </div>

      <p-table
        [value]="packages"
        [lazy]="true"
        [paginator]="true"
        [rows]="10"
        [totalRecords]="totalRecords"
        (onLazyLoad)="loadPackages($event)"
        [columns]="columns"
      >
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" style="width: 150px" />
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th width="20%" pSortableColumn="trackingNumber">
              Tracking Number
              <p-sortIcon filed="trackingNumber"></p-sortIcon>
            </th>
            <th width="12%" pSortableColumn="date">
              Date
              <p-sortIcon filed="date"></p-sortIcon>
            </th>
            <th width="8%" pSortableColumn="weight">
              Weight
              <p-sortIcon filed="weight"></p-sortIcon>
            </th>
            <th width="10%" pSortableColumn="service">
              Service
              <p-sortIcon filed="service"></p-sortIcon>
            </th>
            <th width="10%">Status</th>
            <!-- <th width="10%">GeoLocation</th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-package>
          <tr>
            <td>{{ package.trackingNumber }}</td>
            <td>{{ package.date }}</td>
            <td>{{ package.weight }}</td>
            <td>{{ package.service }}</td>
            <td>
              <nb-badge
                [text]="package.StatusType.name"
                [status]="getStatusColor(package.StatusType.name)"
                position="relative"
              ></nb-badge>
            </td>
            <!-- <td>
              <button
                type="button"
                nbButton
                status="primary"
                (click)="onSelectDetails(package)"
                shape="round"
              >
                <nb-icon icon="pin"></nb-icon>
              </button>
            </td> -->
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
