form {
  margin-bottom: 40px;
}

p-table {
  td {
    word-break: break-all;
  }
}

:host ::ng-deep {
  .p-datatable-responsive .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}

.empty-message {
  padding-top: 50px;

  nb-icon,
  p {
    color: #8f9bb3;
    font-size: 25px;
    font-weight: bold;
  }

  nb-icon {
    font-size: 65px;
  }
}
