<div class="row center-xs">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="box">
      <nb-card status="primary">
        <nb-card-header>Reset Password</nb-card-header>
        <nb-card-body>
          <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
            <div class="row center-xs" formGroupName="passwordGroup">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box">
                  <input
                    type="text"
                    formControlName="newPassword"
                    nbInput
                    fullwidth
                    placeholder="Password"
                    shape="semi-round"
                    nbPopover="Password must be 8 characters minimum"
                    nbPopoverTrigger="hint"
                    nbPopoverPlacement="bottom"
                  />
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box">
                  <input
                    type="text"
                    formControlName="confirmPassword"
                    nbInput
                    fullwidth
                    placeholder="Confirm Password"
                    shape="semi-round"
                  />
                </div>
              </div>
            </div>
            <button type="submit" nbButton hero status="primary">Submit</button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
