<div class="row center-xs">
  <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
    <div class="box">
      <nb-card status="primary">
        <nb-card-header>Order</nb-card-header>
        <nb-card-body>
          <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
            <nb-card accent="primary">
              <nb-card-body *ngIf="currentUser">
                <div class="order-description">
                  <nb-icon icon="calendar-outline"></nb-icon>{{ currentDate }}
                  <nb-icon icon="person-outline"></nb-icon
                  >{{ currentUser.name + " " + currentUser.lastName }}
                  <nb-icon icon="credit-card-outline"></nb-icon
                  >{{ currentUser.PaymentOption.name }}
                </div>
              </nb-card-body>
            </nb-card>

            <nb-card accent="primary">
              <nb-card-body>
                <p-table
                  [value]="orderPackages"
                  [scrollable]="true"
                  [columns]="columns"
                >
                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                      <col *ngFor="let col of columns" style="width: 150px" />
                    </colgroup>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th width="20%">Tracking Number</th>
                      <th width="12%">Date</th>
                      <th width="8%">Weight</th>
                      <th width="10%">Service</th>
                      <th width="10%">
                        <button
                          type="button"
                          nbButton
                          status="primary"
                          (click)="showPackageModal()"
                          shape="semi-round"
                        >
                          <nb-icon
                            icon="shopping-cart"
                            [options]="{ animation: { type: 'pulse' } }"
                          ></nb-icon>
                        </button>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-package>
                    <tr>
                      <td>{{ package.trackingNumber }}</td>
                      <td>{{ package.date }}</td>
                      <td>{{ package.weight }}</td>
                      <td>{{ package.service }}</td>
                      <td>
                        <button
                          outline
                          type="button"
                          nbButton
                          status="danger"
                          (click)="onRemovePackage(package)"
                          shape="round"
                        >
                          <nb-icon
                            icon="close"
                            [options]="{ animation: { type: 'pulse' } }"
                          ></nb-icon>
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </nb-card-body>
            </nb-card>

            <div class="row end-xs">
              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <div class="box">
                  <nb-card accent="primary">
                    <nb-card-body>
                      Total
                      <input
                        class="detail-result"
                        nbInput
                        status="basic"
                        formControlName="total"
                        [readOnly]="isDetailDisabled"
                      />
                    </nb-card-body>
                  </nb-card>
                </div>
              </div>
            </div>

            <div class="row center-xs">
              <div class="col-xs">
                <div class="box">
                  <button type="submit" nbButton hero status="primary">
                    Done
                  </button>
                </div>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
