<nb-layout>
  <nb-layout-header fixed>
    <button nbButton ghost class="btn-menu" (click)="toggle()" >
      <nb-icon icon="menu"></nb-icon>
    </button>

    <div class="user-actions" *ngIf="currentUser">
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-user"
        class="p-button-rounded p-button-text"
        (click)="menu.toggle($event)"
      ></button>
      <p-menu #menu [popup]="true" [model]="userItems"></p-menu>
    </div>
  </nb-layout-header>

  <nb-sidebar tag="left">
    <nb-menu [items]="sideBarItems" autoCollapse="true" *ngIf="currentUser"></nb-menu>
  </nb-sidebar>

  <nb-layout-column class="colored-column-warning">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
